---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
  <div class="hero-content">
    <div class="container-fluid">
      <div class="hero-content-inner">
        <h1>VW Golf 4 - Na predaj</h1>
        <p>Volkswagen Golf IV 2001, TDI</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
      <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Kúp môj Golfik</h3>

      <form action="https://getsimpleform.com/messages?form_api_token=58dc48bf9b26f681534b54ee4d08e6a5" method="post">
        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
        <input type='hidden' name='redirect_to' value='https://kup-moj-golfik.sk' />

        <div class="form-field">
          <input name="contact"  placeholder="Kontakt na Vás" required>
        </div>

        <div class="form-field">
          <textarea name="message" placeholder="Vaš dotaz" required></textarea>
        </div>
        <input type='submit' value='Odoslať' class="btn btn-default"/>
      </form>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Kontakt na predajcu</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Phone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
      <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
      <h3>Cena</h3>

      <p class="price">PREDANE!</p>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Lokácia predaja</h3>
        <p>
          Golfik sa nacháza v <strong>Nitre</strong> <br> ale môžem ho priviezť aj do <strong>Banskej Bystrice<strong>
        </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="o-golfiku" class="about">
    <div class="container-fluid">
        <h2 class="section-title">O Aute</h2>

        <div class="row">
            <div class="col-sm-6">


                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Volkswagen GOLF 4 1.9 TDI 74kw</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                      <p>
                        Dôvod predaja: Golfik som kúpil v októbri 2016, po prisťahovaní sa z Anglicka na pár mesiacov.
                        Nakoľko som sa rozhodol že ostanem na Slovensku natrvalo,
                        rozhodol som sa Golfík predať a kúpil som si niečo s 4x4.
                      </p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-user-md"><use xlink:href="#icon-user-md"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                      <p>
                        Auto je vo výbornom stave <strong>avšak</strong> začiatkom Marca 2018 do mňa ťukli zo zadu
                        na kruhovom objazde. Zadný nárazník je trošku prasknutý a kufor sa zle zatvára. Nie&nbsp;je to nič vážne ale
                        nechce sa mi to už opravovať. Prenehám to na šikovného nového majiteľa.
                        Preto som spustil z pôvodnej ceny €&nbsp;2700 na €&nbsp;1999.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="parametre" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Parametre auta a vykonané údržby</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Gallery -->
<div id="obrazky" class="gallery">
        
    <h2 class="section-title">Obrázky Golfika</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

